/* @override http://localhost/css/kitchen.css */

ul.recipeGrid {
	list-style-type: none;
}

ul.recipeGrid li {
	float: left;
	margin: 15px;
	padding: 15px;
	border-radius: 10px;
	background-color: #e9e9e9;
	border: thin solid #bfbfbf;
	max-width: 200px;
	max-height: 100px;
	overflow: hidden;
}

ul.recipeGrid li p {
    max-height: 50px;
}

ul.recipeGrid li:hover {
    background-color: #f4f4f4;
}

a.btn {
    color: #000;
}

a.btn-primary, a.btn-success {
    color: #fff;
}

.navbar {
    position: static;
}